services:
  gzdoom:
    # Build from specific engine
    build:
      context: ./engines/gzdoom
    container_name: doom-engine
    environment:
      - DISPLAY=${DISPLAY}
      - WAYLAND_DISPLAY=${WAYLAND_DISPLAY}
      - XDG_RUNTIME_DIR=/tmp/runtime-dir
      # Audio vars
      - PULSE_SERVER=unix:/tmp/pulse-socket
      - PULSE_COOKIE=/tmp/pulse-cookie
      - SDL_AUDIODRIVER=pulseaudio
      # Try native Wayland. If it fails try switching to 'x11'
      - SDL_VIDEODRIVER=Wayland
    volumes:
      # --- SYSTEM (GFX and Audio) ---
      - ${XDG_RUNTIME_DIR}/${WAYLAND_DISPLAY}:/tmp/runtime-dir/${WAYLAND_DISPLAY}
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${XDG_RUNTIME_DIR}/pulse/native:/tmp/pulse-socket

      # --- AUDIO FIX ---
      # Mount the socket
      - ${XDG_RUNTIME_DIR}/pulse/native:/tmp/pulse-socket
      # Mount the cookie
      - ${PULSE_COOKIE_HOST}:/tmp/pulse-cookie:ro

      # --- YOUR WADS AND MODS HERE ---
      # 1. (IWADS)
      - ./original_wads:/games/iwads
      # 2. Maps
      - ./map_wads:/games/maps
      # 3. Gameplay Mods
      - ./mods:/games/mods
      # 4. Persistent Config
      - ./config:/root/.config/gzdoom

    devices:
      - /dev/dri:/dev/dri
      - /dev/snd:/dev/snd

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    # --- LAUNCH COMMAND ---
    # Adjust based on the wad and file you want to load. Pending to create a proper entrypoint to handle this.
    command: >
      -iwad /games/iwads/DOOM.WAD
      -file
      /games/mods/Project_Brutality-master.zip
      /games/mods/IDKFA_Soundtrack_Mod_v2/WAD/IDKFAv2.wad
      /games/mods/zdoom-dhtp-20180514.pk3
      /games/mods/Ultimate_DoomVisor_v2.13_2019-06-07/UDV_v2.13_A_BASE.pk3
      /games/mods/Ultimate_DoomVisor_v2.13_2019-06-07/UDV_v2.13_B_VISOR_Alt_1.pk3
      /games/mods/Ultimate_DoomVisor_v2.13_2019-06-07/UDV_v2.13_C_GFX_HIRES_Mugshot_BASE.pk3
      /games/mods/Ultimate_DoomVisor_v2.13_2019-06-07/UDV_v2.13_C_SFX_Ambient.pk3
      /games/mods/Ultimate_DoomVisor_v2.13_2019-06-07/UDV_v2.13_D_MISC_FONT_A_RestoreOriginal.pk3